mixin menu()
  +b('nav').menu
    +e.btn
      i.fa.fa-bars
      | КАТАЛОГ
    +e.list
      +e('a').active(href="#") Лэшмейкер
      a(href="#") Ногтевой сервис
      a(href="#") Бровист
      a(href="#") Шугаринг
      a(href="#") SHOP
