mixin order4()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          'Регистрация',
          {
          active: true,
          title: 'Аккаунт'
          },
          'Термины и обозначения',
          'Оформление заказа',
          'Доставка и оплата',
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Аккаунт
        p.c-pink Как мне изменить логин?
        p К сожалению, логин поменять нельзя. Логин должен быть уникальным, и чтобы избежать повторов и путаницы, логин указывается при регистрации.
        p.c-pink Как мне изменить личные данные?
        p Ваши личные данные: имя, адрес электронной почты, телефон вы можете изменить на влкадке <a href="#" class="c-pink">“Личные данные”</a> в Личном кабинете.
        p.c-pink Как изменить пароль?
        p Пароль вы можете изменить в Личном кабинете, на вкладке <a href="#" class="c-pink">“Настройки”</a>.
        p Если письмо о смене пароля не приходит, обратитесь пожалуйста в поддержку по адресу support@myspclub.ru
