mixin order1()
  section.order1
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
            {
              active: true,
              title: 'Что такое СП'
            },
            'Что такое MYSPCLUB',
            'Регистрация',
            'Аккаунт',
            'Термины и обозначения',
            'Оформление заказа',
            'Доставка и оплата',
            'Раздел SHOP',
            'Рассылка (sms, e-mail)',
            'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Что такое СП
        p <span class="c-pink">Совместная покупка</span> - Это возможность купить товары и материалы по оптовой цене, без больших вложение, в складчину.
        p Например, поставщик продает товары оптом, с максимальной скидкой 50%, но при покупке от 200 тыс.рублей.
        p У Вас есть только 15 тыс.руб., от которых Вы получите скидку лишь в 5-7%.
        p А если «сложиться» с другими пользователями по 15 тыс.руб., и набрать сумму в 200 тыс.руб., можно получить скидку в 50%!
        p Именно этим мы и занимаемся-  Мы полностью берем на сеья организацию таких совместных покупок:  от поиска и контактов
        p с поставщиком, до упаковки и доставки товара Вам.
        .video-wrap.mt20
          video.video-js(controls preload="auto" data-setup='{"fluid": true}')
            source(src="assets/video/post_video.mp4")
