include ../../elements/leaders/leaders

mixin catalog-product-general()
  +b.catalog-product
    +b.section-top
      h2.title-section КЛЕЙ ДЛЯ НАРАЩИВАНИЯ
      +e.count 1073 товаров
    +b.filter
      +e('span').item.fw-bold Фильтр
      +e.item.wrap-select.filter-select
        select.select(data-placeholder="Бренд")
          option
          option CC BROW
          option BARBARA
          option ENIGMA
      +e.item.wrap-select.filter-select
        select.select(data-placeholder="Цвет")
          option
          option Чёрные
          option Коричневые
          option Цветные
      .ml-auto.d-flex.flex-wrap.align-items-center
        +e('span').item.fw-bold Сортировка
        +e.item.wrap-select.filter-select
          select.select
            option Цена по возрастанию
            option Цена по убыванию
            option По размеру скидки
            option Собрано больше
            option Собрано меньше
            option Дата стопа ближе
            option Дата стопа дальше
    -
      var data = [
      {
      img: "assets/images/index/leaders2.jpg",
      like: "like-active",
      title: "BARBARA",
      desc: "Ортопедическая подушка (голубая)",
      priceOld: "920 руб.",
      priceNew: "596 руб."
      },
      {
      img: "assets/images/index/leaders3.png",
      like: "like-active",
      title: "BARBARA",
      desc: "Клей BABRARA Effect, 5 мл",
      priceOld: "715 руб.",
      priceNew: "399 руб.",
      btnClass: "bg-gold",
      btnText: "В КОРЗИНе"
      },
      {
      img: "assets/images/index/leaders4.jpg",
      title: "CC BROW",
      desc: "Хна для бровей (Dark Brown) в баночке (темно-коричневый)  ",
      priceOld: "630 руб.",
      priceNew: "451 руб."
      },
      {
      img: "assets/images/index/leaders2.jpg",
      like: "like-active",
      title: "BARBARA",
      desc: "Ортопедическая подушка (голубая)",
      priceOld: "920 руб.",
      priceNew: "596 руб."
      },
      {
      img: "assets/images/index/leaders3.png",
      like: "like-active",
      title: "BARBARA",
      desc: "Клей BABRARA Effect, 5 мл",
      priceOld: "715 руб.",
      priceNew: "399 руб.",
      btnClass: "bg-gold",
      btnText: "В КОРЗИНе"
      },
      {
      img: "assets/images/index/leaders4.jpg",
      title: "CC BROW",
      desc: "Хна для бровей (Dark Brown) в баночке (темно-коричневый)  ",
      priceOld: "630 руб.",
      priceNew: "451 руб."
      },
      {
      img: "assets/images/index/leaders1.jpg",
      title: "BARBARA",
      desc: "Чёрные ресницы Elegant, изгиб D",
      option: true,
      priceOld: "715 руб.",
      priceNew: "464 руб.",
      options: [
      {
      title: "Толщина",
      name: "width",
      values: [
      '0.05',
      '0.07',
      '0.10',
      '0.12',
      '0.15',
      '0.20'
      ]
      },
      {
      title: "Длина",
      name: "height",
      values: [
      '6',
      '7',
      '8',
      '9',
      '10',
      '11',
      '12',
      '13',
      '14',
      '15'
      ]
      }
      ]
      },
      {
      img: "assets/images/index/leaders1.jpg",
      title: "BARBARA",
      desc: "Чёрные ресницы Elegant, изгиб D",
      option: true,
      priceOld: "715 руб.",
      priceNew: "464 руб.",
      options: [
      {
      title: "Толщина",
      name: "width",
      values: [
      '0.05',
      '0.07',
      '0.10',
      '0.12',
      '0.15',
      '0.20'
      ]
      },
      {
      title: "Длина",
      name: "height",
      values: [
      '6',
      '7',
      '8',
      '9',
      '10',
      '11',
      '12',
      '13',
      '14',
      '15'
      ]
      }
      ]
      },
      {
      img: "assets/images/index/leaders1.jpg",
      title: "BARBARA",
      desc: "Чёрные ресницы Elegant, изгиб D",
      option: true,
      priceOld: "715 руб.",
      priceNew: "464 руб.",
      options: [
      {
      title: "Толщина",
      name: "width",
      values: [
      '0.05',
      '0.07',
      '0.10',
      '0.12',
      '0.15',
      '0.20'
      ]
      },
      {
      title: "Длина",
      name: "height",
      values: [
      '6',
      '7',
      '8',
      '9',
      '10',
      '11',
      '12',
      '13',
      '14',
      '15'
      ]
      }
      ]
      }
      ]
    .d-flex.flex-wrap
      +b('ul').catalog-menu
        -
          var menu = [
            {
              title: "Клей для наращивания",
              number: "328",
              items: [
                {
                  title: "Клей быстрый (до 1 сек)",
                  number: "117"
                },
                {
                  title: "Клей средний (от 1 сек)",
                  number: "96"
                },
                {
                  title: "Клей медленный (1,5 сек)",
                  number: "55"
                }
              ]
            },
            {
              title: "Клей для наращивания",
              number: "41"
            },
            {
              title: "Препараты",
              number: "187"
            },
            {
              title: "Ламинирование и биозавивка",
              number: "187"
            },
            {
              title: "Полуперманентная тушь",
              number: "165"
            },
            {
              title: "Изоляция нижних ресниц",
              number: "201"
            },
            {
              title: "Пинцеты",
              number: "23"
            },
            {
              title: "Профессиональное освещение",
              number: "14"
            },
            {
              title: "Средства по уходу",
              number: "11"
            },
            {
              title: "Фирменная одежда",
              number: "28"
            },
            {
              title: "Расходные материалы ",
              number: "89"
            },
            {
              title: "Фирменная продукция",
              number: "18"
            },
            {
              title: "Хранение",
              number: "61"
            },
            {
              title: "Стартовые наборы",
              number: "6"
            },
            {
              title: "Оформление бровей",
              number: "32"
            }
          ]
        each item in menu
          +e('li').item.__item-js
            +e('span').title= item.title
            span.fz12.c-gray= item.number
            +e('ul').submenu
              each subItem in menu[0].items
                +e('a').item(href="#")
                  +e('span').title= subItem.title
                  span.fz12.c-gray= subItem.number
      .catalog-right
        .grid
          each item, index in data
            +leaders("card-normal grid-item", item, index)
    .products-bottom
      +b('nav').catalog-pages
        +e('a').item.mr-auto(href="#")
          i.fa.fa-angle-left
        - for (var i = 0; i < 9; i++)
          - if (i === 4)
            +e('a').item.__item-active(href="#")= i + 1
          - else
            +e('a').item(href="#")= i + 1
        +e('a').item.ml-auto(href="#")
          i.fa.fa-angle-right
      +b.products-count
        +e('span').item Товаров на странице
        .d-flex.flex-wrap
          +e.item.round-radio
            input(type="radio" id="count1" name="radio-count")
            label(for="count1")  24
          +e.item.round-radio
            input(type="radio" id="count2" name="radio-count")
            label(for="count2")  48
          +e.item.round-radio
            input(type="radio" id="count3" name="radio-count")
            label(for="count3")  96
