mixin fail()
  +b('section').fail
    h2.fz36.fw-bold Ой, кажется вы не туда попали...
    +e.main 404
    p.fz24.fw-medium.mt0 Попробуйте начать с начала
    a(href="#").btn.bg-pink.btn-big ВЕРНУТЬСЯ В КАТАЛОГ
