mixin order5()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          'Регистрация',
          'Аккаунт',
          {
          active: true,
          title: 'Термины и обозначения'
          },
          'Оформление заказа',
          'Доставка и оплата',
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Термины и обозначения
        p.c-pink Выкуп
        p Это дата окончания закупки, когда прием заказов будет окончен. Выкуп может быть продлен, если нужная сумма заказов не собралась. После выкупа, заказы принимаются только в новую закупку.
        p.c-pink Собрано
        p Это прогресс сбора закупки. Чем больший объем заказов собран в закупке, тем больше величина “Собрано”.
        p В закупке может быть собрано больше 100%. Если в закупке собрано меньше 100%, сбор закупки может быть продлен, либо выкуп может состояться даже если не собрано 100%, по решению организаторов.
        p.c-pink Выкуплено закупок
        p Количество успешно проведенных закупок данной СП.
