mixin order2()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          {
          active: true,
          title: 'Что такое MYSPCLUB'
          },
          'Регистрация',
          'Аккаунт',
          'Термины и обозначения',
          'Оформление заказа',
          'Доставка и оплата',
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Что такое MYSPCLUB
        p.c-pink MYSPCLUB
        p Это закрытый клуб, в котором постоянно собираются совместные покупки на большой ассортимент товаров.
        p Изначально мы начинали как сообщество бьюти мастеров, но со временем, помимо товаров для профессиональной деятельности, мы начали заказывать товары для себя и для членов своих семей.
        p Так, в сообществе появились товары для детей, женская одежда, обувь и аксессуары, профессиональная и органическая косметика, товары для дома и даже электроника.
        p Теперь, члены нашего клуба, могут полностью закрывать свои потребности в качественных товарах, по очень приятным ценам.
        p В наш клуб входят десятки тысяч человек и мы кратно растем от месяца к месяцу.
        p Наш потенциал как закупщиков также растет, и поэтому многие поставщики и производители, дают нам отличные условия для сотрудничества.
        p.c-pink Чем мы отличаемся от других сайтов СП?
        p Мы самостоятельно закупаем все товары, проверяем их качество, комплектность, а после этого упаковываем и отправляем собственными курьерами. Таким образом мы контролируем качество поставляемой продукции и сроки доставки.
        p Другие же сайты СП, предоставляют доступ к своим сайтам, множеству организаторов, которых проверить на 100% практически невозможно.
        p Представьте, человек прошел регистрацию как организатор, предоставил паспортные данные, и начинает собирать оплаты, в десятки и сотни тысяч рублей... Площадка, которая предоставила ему доступ, никакой ответственности не несет за его действия.
        p.c-pink Какие у вас гарантии?
        p Лучшая гарантия - это тысячи исполненных заказов, это сотни положительных отзывов и огромное сообщество пользователей в социальных сетях, в которых мы поощряем общение и обмен опытом.
