mixin order3()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          {
          active: true,
          title: 'Регистрация'
          },
          'Аккаунт',
          'Термины и обозначения',
          'Оформление заказа',
          'Доставка и оплата',
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Регистрация
        p.c-pink Как стать членом клуба?
        p Для того чтобы стать членом нашего клуба, достаточно пройти <a href="#" class="c-pink">Регистрацию</a>, указав действующий адрес элетронной почты, и придумать логин и пароль для входа на сайт.
        p.c-pink Мне не приходит письмо с активационной ссылкой на электронную почту. Что делать?
        p Попробуйте посмотреть в папках «Спам» – возможно, письмо попало туда.
        p Если в течение десяти минут оно так и не придет, скорее всего, вы указали неправильный e-mail.
        p Попробуйте запросить приглашение еще раз. Если и это не принесет результата, пишите на support@myspclub.ru – вам обязательно помогут.
        p.c-pink Как мне удалить свой аккаунт?
        p Для того чтобы удалить аккаунт полностью напишите на support@myspclub.ru. Администратор удалит ваш аккаунт самостоятельно, о чем сообщит в ответном письме. Не рекомендуем вам удалять аккаунт, иначе вся информация о заказах, также будет утрачена.
