extends ../components/layout-default/layout-default
include ../components/main/breadcrumbs/breadcrumbs
include ../components/brands/brands

block head
  - var pageTitle = 'Бренды';

block content
  - var breadcrumbs = ['Бренды']

  +breadcrumbs(breadcrumbs)
  +brands()
