extends ../components/layout-default/layout-default
include ../components/main/breadcrumbs/breadcrumbs
include ../components/catalog/catalog-product-general/catalog-product-general

block head
  - var pageTitle = 'Каталог';

block content
  - var breadcrumbs = ['Наращивание ресниц', 'Ресницы для наращивания']
  +breadcrumbs(breadcrumbs)
  +catalog-product-general()
