extends ../components/layout-default/layout-default
include ../components/main/breadcrumbs/breadcrumbs
include ../components/details/detail-auth/detail-auth
include ../components/main/buy-also/buy-also

block head
  - var pageTitle = 'КЛЕЙ ENIGMA "GALAXY" (5 МЛ)';

block content
  - var breadcrumbs = ['Наращивание ресниц', 'Ресницы для наращивания', 'Клей ENIGMA “GALAXY” (5 мл)']
  +breadcrumbs(breadcrumbs)
  +detail-auth()
  +buy-also()
