extends ../components/layout-default/layout-default
include ../components/main/breadcrumbs/breadcrumbs
include ../components/order/order5/order5

block head
  - var pageTitle = 'Как заказать';

block content
  - var breadcrumbs = ['Как заказать']

  +breadcrumbs(breadcrumbs)
  +order5()
