mixin index-banner()
  +b('section').index-banner-section
    +b.index-banner
      +e.item
        +e('img').img(src="assets/images/index/banner.jpg")
      +e.item
        +e('img').img(src="assets/images/index/banner.jpg")
      +e.item
        +e('img').img(src="assets/images/index/banner.jpg")
