mixin order8()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          'Регистрация',
          'Аккаунт',
          'Термины и обозначения',
          'Оформление заказа',
          'Доставка и оплата',
          {
          active: true,
          title: 'Раздел SHOP'
          },
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Раздел SHOP
        p.c-pink Что значит раздел SHOP?
        p Это раздел с товарами, которые можно купить без ожидания выкупа, они есть в наличии на нашем складе.
        p.c-pink Можно ли объединять заказы из раздела SHOP с заказами из СП?
        p Да, такие заказы можно без проблем объединять для доставки, в личном кабинете.
        p.c-pink На сколько быстрее я получу товары из раздела SHOP чем из СП?
        p Так как эти товары хранятся на нашем складе, мы можем отправлять их сразу же после сборки заказа. Но если ваш заказ из раздела SHOP объединен с заказами из СП, то придется дождаться пока все товары из СП поступят на наш склад.
