mixin order7()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          'Регистрация',
          'Аккаунт',
          'Термины и обозначения',
          'Оформление заказа',
          {
          active: true,
          title: 'Доставка и оплата'
          },
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Доставка и оплата
        p.c-pink Выбор способа доставки
        p Выбрать подходящий способ доставки, вы можете в корзине, на этапе оформления заказа.
        p Вам будут доступны все актуальные способы доставки: почтовые, транспортные и курьерские компании.
        p Мы сотрудничаем с компаниями СДЭК, Boxberry, DPD, Почта Росссии. Доставка осуществляется по всей территории России, Беларуси и Казахстану.
        p Для международной доставки свяжитесь с нами по почте support@myspclub.ru и мы подберем вам подходящего перевозчика.
        p.fw-bold Все заказы отправляются только после 100% предоплаты.
        p.fw-bold Услуги наложенного платежа в совместных покупках не предусмотрено.
        p.c-pink Способы оплаты
        p Вы можете совершить оплату банковской картой, а также электронными деньгами на Яндекс кошелек и QIWI кошелек.
