mixin order6()
  section.order-wrap
    +b.section-top
      h2.title-section Как заказать
    +b.order
      +e('nav').nav
        -
          var links = [
          'Что такое СП',
          'Что такое MYSPCLUB',
          'Регистрация',
          'Аккаунт',
          'Термины и обозначения',
          {
          active: true,
          title: 'Оформление заказа'
          },
          'Доставка и оплата',
          'Раздел SHOP',
          'Рассылка (sms, e-mail)',
          'Написать в службу поддержки'
          ]
        each link in links
          if link.active
            +e('a').nav-item.__nav-item-active(href="#")= link.title
          else
            +e('a').nav-item(href="#")= link
      +e.main
        h3.mt0.fz18.fw-bold Оформление заказа
        p.c-pink Как оформить заказ в СП?
        p Для того чтобы участвовать в закупке, достаточно положить товары из выбранной закупки в корзину.
        p Необходимые товары можно найти на сайте различными способами: через каталог товаров. через каталог бренда, через каталог СП или через поиск.
        p Товары из разных СП будут разделены в корзине. Их можно оформить только отдельными заказами.
        p В дальнейшем их можно будет объединить в личном кабинете, для совместной доставки, чтобы оплатить за одну посылку, а не за несколько.
        p.c-pink Когда мне нужно оплатить заказ?
        p Заказ требуется оплатить в течение 24-х часов после выставления счета. В разных закупках счета выставляются в разное время, в некоторых накануне выкупа, в других же сразу после оформления заказа. Это свяазано с необходимостью сверить состав заказа, с актуальными остатками поставщика.
        p.fw-bold Обяазательно! Следите за выставлением счета и вовремя его оплатите, иначе заказ будет удален через 24 часа после выставления счета.
        p Уведомление о том, что счет выставлен придет на электронную почту и смс по указанному в заказе телефону.
        p.c-pink Через какое время после выкупа мне отправят заказ?
        p В разных закупках по разному, но в среднем мы отправляем заказ через 5-7 рабочих дней после выкупа.
        p.c-pink Почему так долго отправляется заказ?
        p Такие сроки связаны с тем, что после сбора закупки мы передаем поставщику перечень заказанных товаров, после чего поставщик собирает один большой заказ, и отправляет его на наш склад.
        p После того. как мы принимаем поставку на наш склад, заказы формируются и отправляются нашим клиентам.
        p.c-pink Как я могу следить за своим заказом?
        p За статусом заказа Вы можете следить в личном кабинете на вкладке “Мои заказы”.
        p.c-pink Могу ли я отменить свой заказ?
        p Вы можете отменить заказ только до оплаты. После того как вы оплатили заказ. мы резервируем его на складе поставщика.
        p.c-pink Как я узнаю, подходит ли выбранный товар по размеру?
        p При выборе товара вы увидите таблицу стандартных размеров выбранной модели.
        p Если остались неясные моменты, укажите их комментарием на странице оформления заказа, и при подтверждении заказа оператор ответит на ваши вопросы.
        p.c-pink Вы гарантируете, что мой заказ будет в точности соответствовать описанию?
        p Мы проверяем все товары на соответствие описанию и фото на сайте. В случае выявления расхождений на этапе проверки поставки, мы обязательно уведомим вас. Решение об отправке такого товара будет за вами.
        p.c-pink Если мне придет не тот товар, или неполный комплект?
        p В 99% заказов, все приходит в полном соответствии с заказом, но иногда сборщик заказа может допустить ошибку.
        p В таком случае напишите нам на почту support@myspclub.ru с указанием номера заказа, и перечнем несоответствий.
        p.c-pink Мой заказ приедет в целости?
        p Мы максимально тщательно упаковываем все заказы, а тем более те, в которых есть хрупкие предметы.
        p К сожалению из-за качества курьерских и транспортных услуг, гарантировать на 100% сохранность вашей посылки мы не можем. Но мы в обязательном порядке страхуем все посылки у перевозчика, что гарантирует возмещение суммы заказа, при утере и порче заказа.
        p.c-pink Возврат денег за непоставленные позиции
        p Бывает, что некоторые позиции поставщик в итоге не отгружает. Это связано с некорректными складскими остатками поставщика, и мы на это никак повлиять не можем к сожалению.
        p В таких случаях. менеджер связывается с вами. и предлагает равнозначную замену. Если компромисс не найден, то мы производим возврат денежных средств. Возврат осуществляется в течение 3 рабочих дней с момента обращения.
