include ../../../node_modules/bemto.pug/bemto
include ../main/header/header
include ../index/header-bottom-reg/header-bottom-reg
include ../main/menu-index/menu
include ../main/footer/footer

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    block head
    title= pageTitle || ''

    link(href='assets/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css' rel='stylesheet')
    link(href='assets/libs/select2/select2.min.css' rel='stylesheet')
    link(href='assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css' rel='stylesheet')
    link(href='assets/libs/slick/slick.css' rel='stylesheet')
    link(href='assets/libs/video.js/video-js.css' rel='stylesheet')
    link(href='assets/css/style.css' rel='stylesheet')
  body
    .root
      +header()
      +header-bottom-reg()
      +menu-index()
      main.main
        block content
      +footer()
    script(src='assets/libs/jquery-3.3.1.min.js')
    script(src='assets/libs/svg-injector.js')
    script(src='assets/libs/select2/select2.min.js')
    script(src='assets/libs/mCustomScrollbar/jquery.mCustomScrollbar.js')
    script(src='assets/libs/slick/slick.min.js')
    script(src='assets/libs/video.js/video.js')
    script(src='assets/js/script.js')
