@import "vars"

button
  &:focus
    outline: none

.btn
  display: flex
  align-items: center
  justify-content: center
  padding: 7px 15px
  color: #ffffff !important
  text-decoration: none
  font-weight: 700
  line-height: 1.2em !important
  text-transform: uppercase
  border: 1px solid transparent
  border-radius: $border-radius
  cursor: pointer
  &:hover
    border: 1px solid #ffffff
    box-shadow: $shadow
  &-with-input
    padding: 10px 15px
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &-count
    width: 32px
    font-size: 19px
    background: none
    border: none
