@import "vars"

input,
textarea,
select
  padding: 12px 15px
  border: 1px solid $border-input
  border-radius: $border-radius
  &:focus
    outline: 2px solid transparentize($pink, 0.6)

.input-width-btn
  border-top-right-radius: 0
  border-bottom-right-radius: 0

.input-btn
  display: flex
