.mx-auto
  margin-left: auto
  margin-right: auto

.my-auto
  margin-top: auto
  margin-bottom: auto

.m-auto
  margin: auto

.px5
  padding-left: 5px
  padding-right: 5px

.my10
  margin-top: 10px
  margin-bottom: 10px
