@import "vars"

.c-pink
  color: $pink

.c-black
  color: $black

.c-white
  color: #ffffff

.c-gold
  color: $gold

.c-gray
  color: $gray

.c-gray-input
  color: $border-input

.c-green
  color: $green

.fz9
  font-size: 9px

.fz12
  font-size: 12px

.fz16
  font-size: 16px

.fz18
  font-size: 18px

.fz24
  font-size: 24px

.fz30
  font-size: 30px

.fz36
  font-size: 36px

.fw-black
  font-weight: 900

.fw-bold
  font-weight: 700

.fw-semibold
  font-weight: 600

.fw-medium
  font-weight: 500

.fw-regular
  font-weight: 400

.fw-light
  font-weight: 300

.text-uppercase
  text-transform: uppercase
  
.text-center
  text-align: center
  
.text-left
  text-align: left
  
.text-right
  text-align: right

.white-space-nowrap
  white-space: nowrap

.text-underline
  text-decoration: underline
  
.text-through
  text-decoration: line-through

.text-decoration-none
  text-decoration: none
