@import "vars"

.c-pink
  color: $pink

.c-black
  color: $black

.c-white
  color: #ffffff

.c-gold
  color: $gold

.c-gray
  color: $gray



.fz9
  font-size: 9px

.fz12
  font-size: 12px

.fz18
  font-size: 18px

.fz24
  font-size: 24px

.fz30
  font-size: 30px

.fw-bold
  font-weight: 700

.fw-medium
  font-weight: 500

.text-uppercase
  text-transform: uppercase
  
.text-center
  text-align: center
  
.text-left
  text-align: left
  
.text-right
  text-align: right


.white-space-nowrap
  white-space: nowrap
